<!doctype html>
<html>
  <head>
    <title>Local Services</title>
  </head>
  <body>
    {% for groupname, machines in machinegroups.items() %}
    <h1>{{ groupname }}</h1>
    {% for machine in machines %}
      <p>
        <span class="name">{{ machine["name"] }}</span>
        {% for endpoint in machine["endpoints"] %}
          <br>
          <a href="{{ endpoint["full_url"] }}" class="ip" target="_blank">{{ endpoint["display_url"] }}</a>
          <span class="endpoint_status">{{ endpoint["status"] }}</span>
        {% endfor %}
      </p>
    {% endfor %}
    {% endfor %}
  </body>
</html>
