<!doctype html>
<html>
  <head>
    <title>Local Services</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    {% for machinegroup in machinegroups %}
    <div class="machinegroup">
      <h2 class="machinegroupname">{{ machinegroup[0] }}</h2>
      {% for machine in machinegroup[1:] %}
        <p class="machine">
          <span class="machinename">{{ machine["name"] }}</span>
          {{ machine["status"] | safe }}
          {% for endpoint in machine["endpoints"] %}
            <br>
            <a href="{{ endpoint["full_url"] }}" class="ip" target="_blank">{{ endpoint["display_url"] }}</a>
            <span class="endpoint_status">{{ endpoint["status"] | safe }}</span>
          {% endfor %}
          {% for other in machine["other"] %}
            <br>
            <span>{{ other | safe }}</span>
          {% endfor %}
        </p>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
